@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@font-face {
	font-family: 'Conv_MYRIADPRO-REGULAR';
	src: url('../fonts/MYRIADPRO/MYRIADPRO-REGULAR.eot');
	src: local('☺'), url('../fonts/MYRIADPRO/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../fonts/MYRIADPRO/MYRIADPRO-REGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}